@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUD</h1>
    <img src="https://www.thedataops.org/wp-content/uploads/2023/06/image-7.png" alt="Hình ảnh từ DataOps" style="max-width:100%; height:auto;">
</div>
