@model Account
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/css/sitelogin.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="txt" placeholder="User name" required="">
				<input type="email" name="email" placeholder="Email" required="">
				<input type="number" name="broj" placeholder="BrojTelefona" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<button>Sign up</button>
			</form>
		</div>

		<div class="login">
			<form method="post" action="/Account/Login">
				<label for="chk" aria-hidden="true">Login</label>
				<input asp-for="Email" id="txt_email" type="email" name="email" placeholder="Email" required="">
				<input asp-for="Password" id="txt_password" type="password" name="pswd" placeholder="Password" required="">
				<button id="loginBtn" type="submit">Login</button>
			</form>
		</div>
	</div>
</body>


</html>

